/obj/
/bin/
/.idea/
/XPluginInterface/bin/
/XPluginSample/bin/
/XPluginSample/obj/
/XPluginInterface/obj/
/MainAPP/bin/
/MainAPP/obj/
/XPluginTcpServer/bin/
/XPluginTcpServer/obj/
/XPluginTcpRelay/bin/
/XPluginTcpRelay/obj/
